        </div>
    	<footer id="footer">
            <div class="footer_info">
                <div class="footer_company">
                    <p class="text-muted footer_title"><strong>Company</strong></p>
                    <div>
                        <a class="text-muted" href="/about" style="margin-right:15px;">About us</a>
                        <a class="text-muted" href="/faq">FAQ</a>
                    </div>
                </div>
                <div class="footer_social">
                    <p class="text-muted footer_title"><strong>Connect with us</strong></p>
                    <a class="text-muted" href="https://www.instagram.com/recess.planet/"><i class="fab fa-instagram"></i></a>
                    <a class="text-muted" href="https://www.facebook.com/recessplanet/"><i class="fab fa-facebook-f"></i></a>
                    <a class="text-muted footerAdjustment" href="https://www.linkedin.com/company/recessplanet/about/"><i class="fab fa-linkedin"></i></a>
                    <br>
                    <br class="footerAdjustment2">
                    <a class="text-muted footerAdjustment"><i class="far fa-envelope" style="vertical-align:1px;"></i> hello@recessplanet.com</a>
                </div>
                <div class="footer_legalDocs">
                    <p class="text-muted footer_title"><strong>Legal</strong></p>
                    <a class="text-muted" href="/legal/terms">Terms of service</a>
                    <a class="text-muted footerAdjustment" href="/legal/privacy">Data privacy policy</a>
                    <a class="text-muted" href="/legal/cookie">Cookie policy</a>
                </div>
            </div>
            <hr>
            <div class="footer_copyright">
                <p class="text-muted footer_title"></p>
                <a class="text-muted">Copyright © <%=new Date().getFullYear()%> RecessPlanet</a>
            </div>
        </footer>
    </body>
</html>