<!DOCTYPE html>
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movewell | Free, curated online workouts</title>
        <!-- Favicon across all browsers and devices -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- End Favicon -->
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="/node_modules/datatables/media/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" href="/node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css"/>
        <link rel="stylesheet" href="/node_modules/bootstrap-suggest/bootstrap-suggest.css"/>
        <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.css"/>
        <link rel="stylesheet" href="/node_modules/tooltipster/dist/css/tooltipster.bundle.min.css"/>
        <link rel="stylesheet" href="/node_modules/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>
        <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/node_modules/popper.js/dist/umd/popper.js"></script>
        <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/node_modules/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    </head>
    <body class="main-body" style="background-color:mintcream;">
        <!-- <nav class="navbar navbar-expand-xl navbar-light navbar-fixed" id="nav_bar">
            <a class="navbar-brand text-info" href="/"></a>
        </nav> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
        <div class="main">
            <section class="welcome">
                <div class="container mt-lg-5">
                    <div class="row">
                        <div class="col-12 text-center text-gray">
                            <h1 id="welcome-title" class="h-underline-green raleway-bold">
                                <span class="spin">🧘</span><span class="spin">🤸‍♂️</span> Welcome to movewell! <span class="spin">🏋️‍♀️</span><span class="spin">🎉</span> 
                            </h1>
                            <h5 id="welcome-msg" class="monsterrat-regular mt-3">
                                A curated, donation-based archive of the best workout classes available online
                            </h5>
                        </div>
                    </div>
                </div>
            </section>
            <section class="search-form">
                <div class="col-md-6">
                    <form id="workout-search-form">
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-8 pt-0" style="font-weight:bold;margin:auto;">What sort of workout would you like?</legend>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="genre" id="gridRadios1" value="yoga" checked>
                                        <label class="form-check-label" for="gridRadios1">
                                            Yoga
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="genre" id="gridRadios2" value="hiit">
                                        <label class="form-check-label" for="gridRadios2">
                                            HIIT
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="genre" id="gridRadios3" value="dance">
                                        <label class="form-check-label" for="gridRadios3">
                                            Dance
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="genre" id="gridRadios4" value="pilates">
                                        <label class="form-check-label" for="gridRadios4">
                                            Pilates
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-8 pt-0" style="font-weight:bold;margin:auto;">What level of difficulty?</legend>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="difficulty" id="gridRadios5" value="easy" checked>
                                        <label class="form-check-label" for="gridRadios5">
                                            Easy
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="difficulty" id="gridRadios6" value="intermediate">
                                        <label class="form-check-label" for="gridRadios6">
                                            Intermediate
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="difficulty" id="gridRadios7" value="hard">
                                        <label class="form-check-label" for="gridRadios7">
                                            Hard
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-8 pt-0" style="font-weight:bold;margin:auto;">What gear do you have at your disposal?</legend>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="equipment" id="checkBox1" value="yoga mat" checked>
                                        <label class="form-check-label" for="checkBox1">
                                            Yoga mat
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="equipment" id="checkBox2" value="jump rope">
                                        <label class="form-check-label" for="checkBox2">
                                            Jump rope
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="equipment" id="checkBox3" value="kettlebell">
                                        <label class="form-check-label" for="checkBox3">
                                            Kettlebell
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="equipment" id="checkBox4" value="pull-up bar">
                                        <label class="form-check-label" for="checkBox4">
                                            Pull-up bar
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="equipment" id="checkBox5" value="resistance bands">
                                        <label class="form-check-label" for="checkBox5">
                                            Resistance bands
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-8 pt-0" style="font-weight:bold;margin:auto;">How long do you want to workout?</legend>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="time" id="gridRadios8" value="15" checked>
                                        <label class="form-check-label" for="gridRadios8">
                                            15 minutes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="time" id="gridRadios9" value="30">
                                        <label class="form-check-label" for="gridRadios9">
                                            30 minutes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="time" id="gridRadios10" value="45">
                                        <label class="form-check-label" for="checkgridRadios10Box3">
                                            45 minutes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="time" id="gridRadios11" value="60">
                                        <label class="form-check-label" for="gridRadios11">
                                            60 minutes
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <div class="form-group row" style="margin-bottom:0!important;margin-top:25px;">
                            <div class="col-sm-12" style="text-align:center;">
                                <button class="btn btn-info" id="workout-search-form-submit">Find me my workouts</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 workouts-area">
                    <img style="width:100%;" src="https://www.kin.com/hs-fs/hubfs/Kin_oct_2019/images/blog/houseplants.jpg?width=1920&name=houseplants.jpg">
                </div>
            </section>
        </div>
        <script>
            $("#workout-search-form").submit(function(event){
                $("#workout-search-form").addClass(".spin");
                event.preventDefault();
                $.ajax({
                    type: "get",
                    url: "/search",
                    data: $(this).serialize(),
                    success: function(dat){
                        if(dat.status==="failure" || dat.workouts.length===0){
                            $(".workouts-area").html(
                                `<div class="workout">
                                    <h5>Oops</h5>
                                    <p>That search didn't return any results!  Try again</p>
                                </div>`
                            )
                        }
                        else{
                            $(".workouts-area").html(workoutRender(dat.workouts));
                        }
                    }
                })
            })
            function workoutRender(workouts){
                var str="";
                for(i=0;i<workouts.length;i++){
                    console.log(workouts[i])
                    const urlSplit = workouts[i].url.split("/watch?v=");
                    const url = urlSplit[0] + "/embed/" + urlSplit[1];
                    str = str +
                    `<div class="workout">
                        <iframe width="100%" height="300px" src="${url}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="workout-metadata">
                            <span style="background-color:mintcream;">${workouts[i].genre ? workouts[i].genre.charAt(0).toUpperCase() + workouts[i].genre.substring(1) : ''}</span>
                            <span style="background-color:mintcream;">${workouts[i].duration ? workouts[i].duration : ''} min</span>
                            <span style="background-color:mintcream;">${workouts[i].difficulty ? workouts[i].difficulty.charAt(0).toUpperCase() + workouts[i].difficulty.substring(1) : ''}</span>`
                            workouts[i].gear.length>0 ? str=str+`<span style="background-color:mintcream;">${workouts[i].gear[0].charAt(0).toUpperCase() + workouts[i].gear[0].substring(1)}</span>`:''
                            str=str+
                        `</div>
                    </div>`
                }
                return str;
            }
        </script>
    	<footer id="footer">
            <a style="margin:25px;" class="btn btn-outline-info btn-block" href="javascript:void(0);" role="button">Share  <i style="margin-left:5px;" class="fas fa-share"></i></a>
            <a style="margin:25px;" class="btn btn-outline-info btn-block" href="https://twitter.com/TariqJahshan" role="button">Follow me <i style="margin-left:5px;" class="fab fa-twitter"></i></a>
            <a style="margin:25px;" class="btn btn-info btn-block" href="https://www.buymeacoffee.com/tariqjahshan" role="button">Buy me coffee  ☕</a>
        </footer>
    </body>
</html>


