nav {
    /* box-shadow: 0px 3px 15px rgba(0,0,0,0.1); */
}

.main {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
}

.welcome{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 3rem;
    margin-bottom: 1rem;
}

.search-form{
    display:flex;
}

#workout-search-form {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 12rem;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius:15px;
    padding:25px;
    margin-top:2rem;
    margin-bottom:30px;
}

#footer {
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 60px;
    box-sizing: content-box;
    border-top: 1px solid #e3e3e3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 20;
    padding-bottom: env(safe-area-inset-bottom);
}

.workouts-area{
    width:100%;
    height:100;
    margin:auto;
    padding:2rem;
}

.workout {
    background-color:white;
    width: 100%;
    padding: 5%;
    border: 1px solid #e3e3e3;
    border-radius: 15px;
    margin:0 0 24px 0;
}
